@inject IConfiguration Config
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Demo.styles.css"]" />
    <!-- Option 2: import only the default theme -->
    <link rel="stylesheet" href="@($"{Config["CdnUrl"]}/npm/@awesome.me/webawesome@latest/dist-cdn/styles/themes/default.css")" />

    <!-- <wa-button> -->
    <script type="module" src="@($"{Config["CdnUrl"]}/npm/@awesome.me/webawesome@latest/dist-cdn/components/button/button.js")"></script>
    <!-- <wa-card> -->
    <script type="module" src="@($"{Config["CdnUrl"]}/npm/@awesome.me/webawesome@latest/dist-cdn/components/card/card.js")"></script>
    <!-- <wa-input> -->
    <script type="module" src="@($"{Config["CdnUrl"]}/npm/@awesome.me/webawesome@latest/dist-cdn/components/input/input.js")"></script>
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
